DB_NAME=abms_db
DB_USERNAME=admin
DB_PASSWORD=password123
JWT_SECRET=DayLaChuoiSecretKeyCuaDuAnABMSCanPhaiDaiHon256Bits
REPORT_DB_URL=jdbc:sqlserver://host.docker.internal:1433;databaseName=abms_db_report;encrypt=true;trustServerCertificate=true
REPORT_DB_USERNAME=sa1
REPORT_DB_PASSWORD=123456
NOTIFICATION_DB_URL=jdbc:sqlserver://host.docker.internal:1433;databaseName=abms_db_notification;encrypt=true;trustServerCertificate=true
NOTIFICATION_DB_USERNAME=sa1
NOTIFICATION_DB_PASSWORD=123456
